*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    outline: none;
    text-decoration: none;
    font-family: "Gilroy";
   

}



.nav_upper
{
    min-height: 5vh;
    display: flex;
    text-align: center;
    justify-content: center;
    background-color: #062c6f ;
    color: white;
    padding: 10px;
    text-transform: uppercase;
}
.nav_upper .nav_button
{
background-color: skyblue;
color: #062c6f;
padding: 12px;
border-radius: 25px;
border: none;
font-size: large;
font-weight: bold;
text-transform: uppercase;
cursor: pointer;


}

.nav_lower{
     display: flex;
    justify-content: space-between; 
    /* min-height: 100vh; */
    background-color: rgb(203, 237, 252);
    font-weight: bold;
   
}

.logo
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: 1px solid white;
    size: 3.5rem;
    font-size: 2rem;
    background-color: white;
    padding: 5px;
    margin:5px;
}
.content-left
{
    font-size: 40px;
     
}
.content-around
{
    font-size: 20px;
}
.content-right
{
    font-size: 20px;
}
#sup-size
{
    font-size: 10px;
}

#lang
{
    border: 2px solid #062c6f;
    padding: 10px 15px;
    border-radius: 15px;
}

.nav_lower a{
    color: #062c6f;
    padding-top: 10px;
    

}

.nav_lower  .content-left{
    display: flex;
    justify-content: left;
    text-align: left;
    margin: auto;
    
}
.nav_lower  .content-around{
    display: flex;
    justify-content: space-around;
}
.nav_lower  .content-right{
    
    display: flex;
    gap: none;
    text-align: right;
}


.headline
{
background-color: rgb(203, 237, 252);
color: #062c6f;
width: 100%;
height: 100%;
display: flex;
justify-content:center;
}

.left{
    height: 100%;
    width: 50%;
    background-color:rgb(203, 237, 252);
     position: relative; 
     padding-top: 400px;
     text-align: center;
    }
.left .textcenter
{
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
    margin-left: 200px;
    
}



.right{
height: 100%;
width: 50%;
position: relative;
display: flex;
margin-right: 360px;
text-align: left;


 
/* background-image: url(/photo/background.jpg); */
/* position: relative; */
}
.animation
{
  position: relative;
  border-radius: 10px;
  height: 100vh;
}
#animation-design
{
    height: 130vh;
    width: 150vh;
}
.right h1{
    height: 100vh;
    width: 50%;
     
    
}
/* .right:hover
{
    background-color: red;
    border-radius: 50%;
  
} */
.headline .bold-line
{
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 10px; 
    margin-top: 40px;
    color: #062c6f;
    
}

.headline .bold-line .leaf
{
    height: 25px;
    color: green;
}


.headline .shop
{
    background-color: #062c6f;
    color: white;
    padding:20px 25px;
    border-radius: 25px;
    border: none;
    font-weight: 900;
    margin-top: 15px;

} 

section
{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgb(203, 237, 252);
}

section .wave 
{
 position: absolute;
 bottom: 0;
 left: 0;
 width: 100%;
 height: 100px;
 background: url(/photo/wave.png);
 background-size: 1000px 100px;
}

section .wave
{
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%
    {
        background-position-x: 0;
    }
    100%
    {
        background-position-x: 1000px;
    }
}


/* navbar ends here */

/* product section starts here */
.prohead
{
    text-align: center;
    justify-content: center;
    margin: 25px;
    color: #062c6f;
    font-size: 30px;
    font-weight: 650;
}
.products
{
    display: grid;
    grid-template-columns: repeat(4, minmax(0,1fr));
    gap: 2rem;
    padding: 1rem 0;
    background-color: #fff;
    margin-left: -30px;
    
    
}
.product-name
{
    text-align: center;
    justify-content: center;
}
.h1-coco
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
.h1-sparkling
{
    color: green;
    font-size: 20px;
    font-weight: 1000;
}
.h1-soda
{
    color: rgb(174, 5, 5);
    font-size: 20px;
    font-weight: 1000;
}
.h1-bars
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 1000;
}
#r-border
{
    border: 1px solid black;
    border-radius: 50%;
    font-size: 8px;
    padding: 1px;
}
.btn{
    
    color: white;
    font-size: 15px;
    font-weight: 700;
    padding: 20px 24px;
    border-radius: 25px;
    border: none;
    text-align: center;
    margin: 20px;
    margin-left: 45px;
}
.btn-coco
{
    background-color: #062c6f;
}
.btn-sparkling
{
    background-color: green;
}
.btn-soda
{
    background-color: rgb(214, 20, 20);
}
.btn-bars
{
    background-color: #062c6f;
}


.product:hover
{
    background-image: url(/photo/background.jpg);
    background-position-x: center;
    background-size: 40vh;
    background-position-y: bottom;
    background-repeat: no-repeat;
    /* transition: cubic-bezier(0.075, 0.82, 0.165, 1); */ 
    
}

.card{
    box-shadow:  rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    border-radius: 25px;
    
    padding: 2rem;
    height: 82vh;
    width: 44vh;
    margin: 40px;
    gap: 1.5rem;
}
.img-style
{
    height: 56vh;
    width: 33vh;
    border-radius: 30px;
}
/* .card:hover
{
    
    /* background-image: url(/photo/coconut-water-hover.jpg); */

.probtn
{
    text-align: center;
    justify-content: center;
    top: 50%;
    left: 40%;
    translate: (-50%,-50%);
    position: relative;
    padding: 20px 30px;
    border-radius: 25px;
    background-color: #062c6f;
    margin: 30px;
    border: none;
}
.probtn a{
    color: white;
    font-size: 18px;
    font-weight: 1000;
}


.products .coco
{
background-color: rgb(203, 237, 252);
}
.products .sparkling
{
background-color: lemonchiffon;
}
.products .soda
{
background-color: lightcoral;
}
.products .bars
{
background-color: rgb(150, 216, 242);
}
/* products ends here  */






/* footer starts here */

.container
{
    max-width: 1170px;
    margin: auto;
}
.row
{
    display: flex;
    flex-wrap: wrap;
}
.footer
{
    background-color: skyblue;
    padding: 70px 0;

}

.footer-col
{
    width: 20%;
    padding: 0 25px;
}

.footer-col h4{
    font-size: 22px;
    font-weight: 900;
    color: #062c6f;
    margin-bottom: 30px;
}
.footer-btn
{
    background-color: #062c6f;
    padding: 7px 35px;
    color: #fff;
    
}

.footer-li li
{
    margin-bottom: 10px;
}
.footer-li li a
{
    color: #062c6f;

}
.social-links a{
    border: 1px solid #062c6f;
    border-radius: 50%;
    background-color: #062c6f;
    color: white;
    padding: .5rem;
    margin: 0 5px;
    
}

.footer-h5
{
    color: #062c6f;
    font-weight: 1000;
}
#footer-email
{
    color: #fff;
    font-size: 20px;
    font-weight: 800;

}
#footer-ques
{
    color: #062c6f;
    font-size: 20px;
    font-weight: 700;
    margin-top: 30px;
}
.wavy
{
    position: relative;
    width: 95%;
    height: 100px;
    /* background: red; */
    overflow: hidden;

}
.wavy::before{
    content: ' aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa';
    position: absolute;
    top: -42px;
    left: 0;
    padding: 4rem;
    font-size: 3em;
    color: transparent;
    text-decoration-style:wavy;
    text-decoration-color: #062c6f;
    text-decoration-line: underline;


}


/* footer ends here */