/* Mobile view responsiveness */
@media only screen and (max-width: 600px) {
    
    
    .navbar-collapse ul{
        flex-direction: column;
        text-align: center;
    }
    .hero{
        padding: 1rem;
    }
    .hero-image {
        direction: rtl;
    }
    .hero-image img{
      margin: 0 auto;
    }
    .right-upper {
        display: none;
    }
    .footer-menu ,.footer-menubar {
        font-size: 12px;
        text-align: center;
        flex-direction: column;
    }
    .skill-col {

        width: 80%;
        margin: 0;
      padding: 1rem 1rem;
        /* bottom: -150px; */
        right: 0px;
    }
.skill-col .brand2-img {
    align-items: center;
   left: 130px;
   position:absolute;
  
}
   .personal-info {
        margin: 0;
        padding: 0;
    }
    .award-header {
        padding: 1rem;
    }
    .awards-card {
        padding: 1rem;
        margin: 1rem;
    }
    /* clients section */
    .clients {
        display: block;
        position: relative;
    }
    .client_num {
        padding: 1rem;
    }
   .feed-social-box {
    border: 1px solid black;
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    }
   }


@media only screen and (max-width: 768px) {
    .navbar-collapse ul{
        flex-direction: column;
        text-align: center;
    }
    .footer-menu ,.footer-menubar {
        font-size: 12px;
        text-align: center;
        flex-direction: column;
    }
    .skill-col {
        width: 80%;
        margin: 0;
      padding: 1rem 1rem;
        bottom: -150px;
        right: 180px;
    }
   
    /* clients section */
    .clients {
        display: block;
        position: relative;
    }
    
}
