/* Mobile view responsiveness */
@media only screen and (max-width: 600px) {
    
    
    .navbar-collapse ul{
        flex-direction: column;
        text-align: center;
    }
    .hero{
        padding: 1rem;
    }
    .hero-image {
        direction: rtl;
    }
    .hero-image img{
      margin: 0 auto;
    }
    .right-upper {
        display: none;
    }
    .card {
        position: relative;
        top: 1198px !important;
    }
    .footer-menu ,.footer-menubar {
        font-size: 12px;
        text-align: center;
        flex-direction: column;
    }
    .skill-col {

        width: 80%;
        margin: 0;
      padding: 1rem 1rem;
        /* bottom: -150px; */
        right: 0px;
    }
.skill-col .brand2-img {
    align-items: center;
   left: 130px;
   position:absolute;
  
}
   .personal-info {
        margin: 0;
        padding: 0;
    }
    .social-box
    {
        bottom: 10px;
        right: 20px;
        border: 1px solid #000;
    }
    .award-header {
        padding: 1rem;
    }
    .awards-card {
        padding: 1rem;
        margin: 1rem;
    }
    /* clients section */
    .clients {
        /* display: block; */
        position: relative;
    }
    .client_num {
        padding: 1rem;
    }
    .client-card {
        padding: 1rem;
        margin: 1rem;
    }
   .feed-social-box {
    width: 60%;
    height: auto;
    margin: 0 auto;
    display: block;
    }
   }


@media only screen and (max-width: 768px) {
    
    .navbar-collapse ul{
        flex-direction: column;
        text-align: center;
    }
    .hero .intro {
        position: relative;
        top: 122px;
        
    }
    .hero-image{
        position: relative !important;
        margin-top: 50px !important;
        /* border: 1px solid ; */
        
    }
    .hero-image img{
        position: relative !important;
        margin-top: -230px !important;
        /* border: 1px solid ; */
    }
        
    .btm-ellip-img {
        position: relative;
        /* border: 1px solid ; */
        top: 1290px !important;
    }
    .footer-menu ,.footer-menubar {
        font-size: 12px;
        text-align: center;
        flex-direction: column;
    }
    .skill-col {
        width: 80%;
        margin: 0;
      padding: 1rem 1rem;
        bottom: -150px;
        right: 180px;
    }
   
    /* clients section */
    .clients {
        /* display: block; */
        position: relative;
        top: 5px;
        /* border: 1px solid; */
    }
    .card {
        position: relative !important;
        top: 770px !important;
        margin-top: -675px !important;
    }
}

@media only screen and (max-width: 992px) {
    .hero .intro{
    width: 60%;
    }
    .hero-image {
        width: 40%;
        position: relative;
        top: 190px;
    }
    .card {
        position: relative;
        top: 680px !important;
    }
}
@media only screen and (max-width: 1200px) {
    .card {
        top: 400px;
    }
}

@media only screen and (max-width: 367px) {
    .hero-image{
        position: relative !important;
        margin-top: 150px !important;
        /* border: 1px solid ; */
        
    }
}