/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body {
    overflow-x: hidden;
}
ul,li,a{
    text-decoration: none;
    list-style: none;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 20px;
}
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: #f9f9f9;
}


nav div ul {
    list-style: none;
    display: flex;
    gap: 1rem;   
}
nav div ul li a {
    text-decoration: none;
    color: #333;
    transition: color 0.3s;
}
nav div ul li a:hover {
    color: #6c63ff;
}
.contact-btn {
    /* background: #6c63ff; */
    color: #9249F2;
    padding: .5rem 1rem;
    border: 1px solid #9249F2;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}
.send{
    color: #9249F2;  
    padding-right: 5px;
    padding-top: -1px;

}
.nav-item {
    border: 1px solid red;
}
.nav-content-list{
    border:1px solid red;
    left: 320px;
    align-items: right;
    display: inline;
    padding-left: 0px;
    position: relative;
}
/* main start */
.hero {
    /* display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 15rem; */
    background: linear-gradient(to right, #f9f9f9, #fff);
    /* position: relative; */
}

.hero .hero-side-img1{
    position: absolute;
    right: 534px;
    border: 1px solid red;
}

.hero .intro {
    max-width: 100%;
    /* border: 1px solid black; */
    width: 536px;
    height: 364px;
    top: 180px;
    position: relative;
}
.hero .intro h1 {
    font-size: clamp(20px,5vw,48px);
    font-weight: 600;
    
}
.hero h1 span {
    color: #6c63ff;
    text-decoration: underline;
    font-size: clamp(24px,5vw,64px);
    font-weight: 600;
}
.hero .buttons .btn {
    display: inline-block;
    margin: 1rem 1rem 0 0;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    text-decoration: none;
}
.btn-primary {
    background: #6c63ff;
    color: #fff;
}
.btn-secondary {
    background: #eee;
    color: #333;
}
.hero-image img {
    /* width: 652px;
    height: 1086px; */
    top: -50px;
    position: relative;
    border-radius: 10px;
    /* border: 1px solid; */
}
.clients {
    text-align: center;
    padding: 2rem;
    background: #fff;
    /* margin-top: 2rem; */
    /* border: 1px solid; */
    position: absolute;
    bottom: -310px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.client-logos {
    /* border: 1px solid;   */
    max-width: 1320px;
    /* gap: 20px; */
    text-align: left;
}
.client_num h2{
    font-size:clamp(14px,4vw,24px) !important;
    font-weight: 600;
    
}
.clients .client-logos img {
    /* max-height: 50px; */
    width: 16%;
    height: 96px;
    /* gap: 10px; */
    /* margin: 0 5px; */
    border-radius: 12px;
    /* gap: 10px; */
    /* border: 1px solid; */
}

.client-logos img:hover{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.client_num{
    display: flex;
    justify-content: space-between;
    padding-left: 5rem;
    text-align: left;
    padding-right: 2rem;
}

/* project details */
.card{
    display: flex;
    flex-wrap: nowrap;
    gap: 10px;
    padding: 1rem;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1F3 52.14%);
    top: -47px;
}
.pro_name{
    text-align: center;
    padding: 2rem;
}
section  .card-info{
    flex: 1;
    margin: 1rem;
    padding: 1rem;
    background: white;
    border-radius: 12px;
}

.card .card-info .projectImg{
    /* border: 1px solid; */
    width: 100%;
    height: 312px;
}

.pro_link{
    text-decoration: none;
    color: #9249F2;
}
.pro_arrow{
    align-items: center;
    width: 300px;
    margin-left: 35%;

}
.right-arrow{
    padding-bottom: 1.5rem;
    position: relative;
    bottom: .5rem;
    /* border: 1px solid; */
    filter: convert(1);
}
.container-brandOne {
    max-width: 1408px;
}
.personal-details{
    top: -30px;
    position: relative;
    display: flex;
    justify-content: space-between;
    
    /* padding: 3rem 0; */
}
/* .personal-img{
    border: 1px solid;
    position: relative;
    
} */
.brand2-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /* padding: 1rem 0; */
    /* top: 50px;
    position: relative; */
}
 .personal-img {
    width: 872px;
    height: 773px;
    border-radius: 24px; 
    /* border: 1px solid; */
    position:relative; 
     top: -18px;
    padding: 1rem 0; 
 }
.brandBgOne {
    width: 648px !important;
    height: 610px !important; 
    /* border: 1px solid; */
     transform: translate(12%,-12%);
    top: 182px;
    position: absolute;
    z-index: -1;
}  
.personal-info{
    /* border: 1px solid; */
    top: 180px;
    position: relative;
    /* padding-left:35px; */
    /* padding-left: 4rem;
    margin-left: 6rem; */
    /* top: 50px; */
    /* padding-top: 15rem; */
}
.inside-info-design{
    row-gap: 5px;
    
}
.designation 
{
    padding: 0px;
    margin:3px auto;
    width: 100%;
}

/* .designation li {
        
    display: flex;
    list-style: none;
    } */
.p-btn{
    border: none;
    background-color: #9249F2;
    color: white;
    width: Hug (221px)px;
    height: Hug (72px)px;
    padding: 20px 25px;
    gap: 12px;
    border-radius: 12px;
    }
.social-box{
    border: 1px solid white;
    border-radius: 5px;
    bottom: 90px;
    left: 190px;
    padding: 1rem;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(10px);
}
.social-links img {
    width: 80%;
}
/* award section  */
.award{
    padding: 5rem;
    background-color: #EAF7ED;
    
}
.award-header
{
    padding: 1rem 0rem;
}
.awards-card{
    padding-top: 2rem;
    /* padding: 0 7rem; */
}
.award-info{
    width: 32% !important;
    height: auto;
    bottom: 150px;
    /* border:1px solid; */
    /* padding: 0rem 1rem ; */
    background-color: #fff;
    /* margin:2rem 1rem; */
    border-radius: 12px;
}
.award-img{
    bottom:28px;
    position: relative;
}
.award-title{
    font-size: 20px;
}
.award-des {
    font-size: 14px;
}
 /* service provide start */
 .service-wrap
 {
    display: flex;
    
 }
 .services{
    background: linear-gradient(180deg, rgba(243, 236, 255, 0.4) 0%, rgba(243, 236, 255, 0) 100%);
    padding:5rem 0rem;
    /* top:420px;
    position: relative;     */
 }
 .service-card {
    width: 536px;
    height: 402px;
    /* border: 1px solid; */
 }
 .service-card-2 {
    width: 536px;
    height: 456px;
    /* border: 1px solid; */
 }
 .service-h2
 {
    font-size: 48px;
    padding:24px 0;
 }
 .work-together-btn
 {
    padding: 1rem;
    bottom: 120px;
    background-color: #9249F2;
    color: white;
    text-decoration: none;
 }
 .right-arrow
 {
   filter: invert(1);
   padding: 1rem;
 }
 .service-design{
    /* height: 136px; */
    border: 1px solid white;
    border-radius: 10px;
    background-color: #fff;
    /* margin:1rem; */
     }
     .service-design img {
        padding: 12px;
     }
     .service-content{
        padding: 1rem;
     }
     .service-design h2 {
        font-size: 20px;
     }
     .service-design span {
        font-size: 14px;
     }
     /* work process */
     .work-process
     {
        background: linear-gradient(180deg, rgba(232, 241, 252, 0.6) 0%, rgba(232, 241, 252, 0) 100%);
        /* position: relative;
        top: 450px; */
     }
     .work-wrap
     {
        padding: 3rem 0rem;
     }
     .work-heading
     {
        text-align: center; 
     }
     .work-heading p
     {
        margin-top: 0;
        margin-bottom: 0;
        text-align: center;
     }
     .work-process-cards
     {
        display: flex;
     }
     .work-card{
        width: 212px;
        height: auto;
        /* padding: 1rem; */
        background-color: #fff;
        /* margin: 1rem; */
        transition: all .3sec all;
        border-radius: 16px;
        margin: 0 0;
        
     }
     .work-card h2 {
        font-size: 18px; 
     }
     .work-card p{
        font-size: 14px;
     }
     .work-card:hover
     {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
     }
     /* skills section */
    /* .skills {
        position: relative;
        top: 420px;
    } */
     .skill-wrap
     {
        display: flex;
     }
     .skill-col-card
     {
        position: relative;
        top: 168px;
     }
     .skill-col-card p{
        margin-bottom: 0;
     }
     .skill-col {
        width: 536px;
        height: 646px;
     }
     .skills-set{
        padding: 1rem 0;
     }
     .skill-bar
     {
        height: 4px;
        width: 100%;
        border-radius: 6px;
        margin-top: 10px;
        background:rgba(0,0,0,0.1);
     }
    .skill-per{
        position: relative;
        display: block;
        height: 100%;
        border-radius: 8px;
     }
     .skill-tooltip{
        position: relative;
        right: -97%;
        top: -32px;
     }
     .research-per{
        background: #9249F2;
        color: #9249F2;
        width: 95%;
     }
    .experience-per{  
        background: #1777E5;
        color: #1777E5;
        width: 87%;
     }
     .testing-per{
        color: #2DB24A;
        background: #2DB24A;
        width: 91%;
     }
     .interaction-per{
        color: #FF5F49;
        background: #FF5F49;
        width: 73%;
     }
     /* client section */

     .client-testimonial
     {
        background: linear-gradient(180deg, rgba(240, 241, 243, 0.6) 0%, rgba(243, 236, 255, 0.6) 100%); 
        /* position: relative;
        top: 420px; */
     }
     .container2
     {
        max-width: 1320px;
        margin: 0 auto;
     }
     .client-title
     {
        text-align: center;
        padding-top:124px;
        position: relative;
        padding-bottom: 120px;
     }
     .client-title p {
        margin: 0;
        
     }
     .client-card{
        align-items: center;
        text-align: center;
        border-radius: 16px;
        opacity: 0.6px;
        background-color: white;
        color: #132238;
        transition: all .4s ease-in-out;
    }
    .client-card h3 {
        color: #697484;
        font-size: 14px;
        font-weight: 400;

    }
    .client-designation {
        color: black;
    }
    .client-card img 
    {
        bottom: 45px;
        position: relative;
    }
    .client-card:hover {
        transform: scale(1, 1.2);  
    }
    .client2-img img {
        bottom: 85px;
    }
    .client2-img p {
        padding: 0px;
        bottom: 20px;
    }
    .client-card .client-des2 {
        bottom: 100px;
        position: relative;
    }
    .client-btn
    {
        text-align: center;
        top: 25px;
        position: relative;
        margin:1rem 0rem  2rem 0rem;
    }
    .client-btn a{
        padding: 0px 5px;
    }

    /* action section */
    /* .action {
        position: relative;
        top: 420px;
    } */
    .action img{
        width: 100%;
        margin: 0 auto;
    }
    .action .action-btn{
        background-color: #FFD91A;
        width: 272px;
        height:72px;
        padding: 0px 36px 0px 36px;
        gap: 12px;
        border-radius: 12px;
        opacity: 0px;
        border: none;
        top: -110px;
        left: 27px;
        position: relative;
    }
    .action-right-arrow {
        filter: invert(1);
        position: absolute;
    }

    /* article section */
.articles{
    background: linear-gradient(180deg, #F0F1F3 0%, rgba(240, 241, 243, 0) 100%);
    /* position: relative;
    top: 420px; */
}
    .article-card-wrap {
        max-width: 1320px;
    }
    .left-upper {
        width: 653px;
        height: 653px;
        gap: 0px;
        opacity: 0.12px;
        top: 350px;
        position: relative;
    }
    .right-upper {
        width: 357px;
        height: 357px;
        top: 350px;
        position: relative;
        gap: 0px;
        opacity: 0.12px; 
    }
    
    .article-card {
        width:424px;
        height:auto;
        padding:32px;
        margin:12px 0;
        border-radius: 12px;
        opacity: 0px;
        background: white;
    }
    .article-card:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transform: scale(1.1);
        transition: all .4s ease-in-out;
    }
    .art-card-des {
        margin-bottom: 36px;
    }
    .art-btn  {
        color: #9249F2;
        text-decoration: none;
        border: 2px solid #9249F2;
        width:  161px  ;
        height:  56px ;
        padding:20px  24px;
        gap: 12px;
        border-radius: 8px;
    }
    .art-r-arow {
        color: #9249F2;
        position:relative;
    }

    /* feedback section */
    /* .feedback {
        position: relative;
        top: 420px;
    } */
    .feedback-body {
        top: 186px;
        position: relative;
        background-color: #fff;
        padding: 1.5rem;
        border-radius: 24px;   
    }

    .feed-contact a {
        text-decoration: none;
        color: #132238;
        
    }
    .feed-contact h3 {
        color: #556070;
        font-size: 14px;
        margin-left: 1rem;
    }
    .feed-contact h3 span {
        color: black;
    }
    .feed-social-box {
        width:384px;
        height:152px;
        padding:32px;
        border-radius:16px;
        opacity: 0px;
        border: 1px solid white;
        border-radius: 5px;
        position: absolute;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(10px);
    }
    .feed-social-links a{
        text-decoration: none;
        border-radius: 50%;

    }
    /* footer section */
    /* .footer-info {
        
        top: 420px;
    } */
    .footer-info {
        background-color: black;
        height: 576px;
    }
    .footer-menu {
        position:relative;
        top: 286px;
    }
    .footer-menubar a{
        text-decoration: none;
        color: #A5ACB5;
    }
    .footer-menubar a:hover{
        color: white;
    }
